.sxg-cat { 
    overflow:hidden; 
    width:240px;
   }
.sxg-cat li { 
    float:left;  
    padding:5px 10px;
}
.sxg-cat .img img { 
    width:60px; 
    height:60px;
}
.sxg-cat h4 { 
    overflow: hidden; 
    height: 21px; 
    font-size:12px; 
    font-weight:normal;
    text-align:center;
}