<!doctype html>
<html ng-app="my_app">
<head>
<meta charset="utf-8">
<title>智能课堂 —— 微博ajax接口测试 - www.zhinengshe.com</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css" />
<script src="angular.js"></script>
<script>
var app=angular.module('my_app', []);

app.filter('time2date', function (){
	return function (input){
		var oDate=new Date();
		
		oDate.setTime(input*1000);
		
		return oDate.getFullYear()+'-'+(oDate.getMonth()+1)+'-'+oDate.getDate();
	};
});

app.controller('test', function ($scope, $http){
	$scope.data=[];
	//weibo.php?act=get&page=1
	//读取文章
	function getPage(n)
	{
		$scope.cur_page=n;
		
		$http.get('weibo.php', {params: {act: 'get', page: n}}).success(function (data){
			$scope.data=data;
		}).error(function (){
			alert('读取失败');
		});
	}
	
	getPage(1);
	
	$scope.getPage=getPage;
	
	//分页-页码
	$http.get('weibo.php', {params: {act: 'get_page_count'}}).success(function (data){
		$scope.page_arr=[];
		for(var i=1;i<=data.count;i++)
		{
			$scope.page_arr.push(i);
		}
	}).error();
	$scope.cur_page=1;
	
	//添加数据
	$scope.add=function ()
	{
		$http
		.get('weibo.php', {params: {act: 'add', content: $scope.content_input}})
		.success(function (data){
			$scope.data.unshift({
				content:	$scope.content_input,
				time:		data.time,
				acc:		0,
				ref:		0
			});
			
			$scope.content_input='';
			
			if($scope.data.length>6)
			{
				$scope.data.pop();
			}
		})
		.error(function (){
			alert('添加失败');
		});
	};
});
</script>
</head>

<body ng-controller="test">
<div class="znsArea">
<!--留言-->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="tijiaoText" ng-model="content_input"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" id="btn1" ng-click="add()" />
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
<!--已留-->
    <div class="commentOn">
        <div class="noContent" ng-show="data.length==0">暂无留言</div>
        <div class="messList" id="div_list">
        	<div class="reply" ng-repeat="item in data">
                <p class="replyContent">{{item.content}}</p>
                <p class="operation">
                    <span class="replyTime">{{item.time|time2date}}</span>
                    <span class="handle">
                    	<a href="javascript:;" class="top">{{item.acc}}</a>
                        <a href="javascript:;" class="down_icon">{{item.ref}}</a>
                        <a href="javascript:;" class="cut">删除</a>
                    </span>
                </p>
            </div>
        </div>
        <div class="page">
        	<a href="javascript:;" ng-repeat="i in page_arr" ng-click="getPage(i)" ng-class="{active: i==cur_page}">{{i}}</a>
        </div>
    </div>
</div><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
