<!doctype html>
<html ng-app="test">
<head>
<meta charset="utf-8">
<meta name="author" content="智能社 - zhinengshe.com" />
<meta name="copyright" content="智能社 - zhinengshe.com" />
<title>智能社 - www.zhinengshe.com</title>
<style>

</style>
<script src="angular.js"></script>
<script>
var app=angular.module('test', []);

app.controller('aaa', function ($scope){
	$scope.arr=[
		{name: 'xxx鞋', price: 12.8, count: 1},
		{name: 'xxx衣服', price: 250, count: 2},
		{name: 'xxx帽子', price: 25.6, count: 8}
	];
	
	$scope.total=function ()
	{
		var result=0;
		
		for(var i=0;i<$scope.arr.length;i++)
		{
			result+=$scope.arr[i].price*$scope.arr[i].count;
		}
		
		return result;
	};
});
</script>
</head>

<body ng-controller="aaa">
<ul>
	<li ng-repeat="item in arr">
    	<h2>{{item.name}}</h2>
        单价：{{item.price}}<input type="number" ng-model="item.count" /><br>
		总价：{{item.price*item.count}}
    </li>
</ul>

总价：{{total()}}
</body>
</html>






